<article class="xviews xchallenges xindex">
<div class="views scorboards scoreboard_challenges">
	<h1>Challenges</h1>
	<% @challenges.each do |challenge| %>
	<h3><%= challenge.title %></h3>
	<form action="/scoreboards/<%=@scoreboard.id%>/challenges/<%=challenge.id%>">
		<input type="checkbox" class="release-checkbox"> Read Instructions<br>
		<% challenge.releases.times do |i| %>
		<input type="checkbox" class="release-checkbox"> Release <%=i%><br>
		<% end %>
		<input type="checkbox" class="release-checkbox"> Make Pull Request <br>
	</form>
	<% end %>
</div>
</article>
