<article class="_scoreboard_challenges">
<div class="views scorboards scoreboard_challenges">
	<h1>Challenges</h1>
	<% @challenges.each do |challenge| %>
	<h2><%= challenge.title %></h2>
	<div class="Breakline"></div>
	<form action="/scoreboards/<%=@scoreboard.id%>/challenges/<%=challenge.id%>">
		<input type="button" class="release-checkbox"> Read Instructions<br>
		<% challenge.releases.times do |i| %>
		<input type="button" class="release-checkbox"> Release <%=i%><br>
		<% end %>
		<input type="button" class="release-checkbox"> Make Pull Request <br>
	</form>
	<% end %>
</div>
</article>
