<!-- views/scoreboards/new -->

<!-- <article id="home" class="home"> -->
<% if logged_in? %>
	<h1>Start a New Game</h1>

	<%=render "form"%>
<% else %>
	<h1>Welcome to Let's Git It!</h1>
	<p> Log in with Git Hub to start a new game.</p>
<% end %>
<!-- </article> -->
