<!-- views/scoreboards/new -->

<!-- <article id="home" class="home"> -->

<div class="startGamehome">

<% if logged_in? %>
	<h1>Start a New Game</h1>
  <div class="Breakline"></div>
	<%=render "form"%>
<% else %>
	<h1>Welcome to Let's Git It!</h1>
	<%= render template: 'scoreboards/leaderboard' %>
<% end %>
</div>
<!-- </article> -->
