<h1>Hey, User!</h1>

<p>Level <%=@user.level%></p>
<p>Total Score: <%=@user.total_points%></p>
<br>
<% if @scoreboard %>
	<p>Score: <%=@scoreboard.day_points%></p>
	<p>Commits: <%=@scoreboard.commits%></p>
<%end%>




