<!-- views/users/index.htm.erb -->

<!-- <h1>Let's Git It!</h1> -->
<article class="views users index">
<img class="userPic" src="<%= current_user.picture_url %>" alt="Smiley face">
<% if logged_in? %>
<!-- 	<p>Level <%#=@user.level%></p>
	<p>Total Score: <%#=@user.total_points%></p> -->
	<%= render partial: "gh_user_data" %>
<% end %>
<% if @scoreboard %>
	<p>Score: <%=@scoreboard.day_points%></p>
	<p>Commits: <%#@scoreboard.commits%></p>
<%end%>

<%= render partial: "ee_buttons" %>

</article>


