<!-- views/users/index.htm.erb -->

<!-- <h1>Let's Git It!</h1> -->
<div class="views users index">

<% if @scoreboard %>
	<div id="points-container">
		<%= render partial: "score_commits", locals: {scoreboard: @scoreboard} %>
	</div>
<%end%>

<%= render partial: "ee_buttons" %>

</div>
