
<%#= render partial: '/header' %>
<article id="home" class="home">
  <h1 style="text-align: center; font-size: 3em">Landing Page</h1>
  <h1 style="text-align: center; font-size: 3em">Landing Page</h1>
  <h1 style="text-align: center; font-size: 3em">Landing Page</h1>
  <h1 style="text-align: center; font-size: 3em">Landing Page</h1>
</article>
