<article class="xviews xchallenges xindex">
	<h1>Challenges</h1>
	<% @challenges.each do |challenge| %>
	<h3><%= challenge.title %></h3>
	<form>
		<% challenge.releases.times do |i| %>
		<input type="checkbox"> Release <%=i%><br>
		<% end %>
	</form>
	<% end %>
</article>
