/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles!
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*--------------END RESET---------------*/
/*--------------END RESET---------------*/
/*--------------END RESET---------------*/
/*--------------END RESET---------------*/


a{
  text-decoration: none;

}

@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');
 @font-face {
  font-family: 'gitHub';
  src:url(asset-path('COLLEGIA.ttf'));

}
body{
  background:url(starry-night-sky.jpg);
  color:white;
 /* font-size: 4em;*/
}
.tester{
  font-family: 'gitHub';
  font-family: 'Orbitron', sans-serif;
  /*font-family:"Comic Sans MS", cursive, sans-serif;*/

}

.xheader{
  margin-top: 10px;
}

.gitHubLogo{
  background:url(gitHubLogo2017.png);
  background-size: cover;
  width:75px;
  height:75px;
  float:left;
  margin-top: 0px;


}
.gitHubBtn{
  display: block;
  background-color: rgba(135,80,161,0.8);
  width: 350px;
  height: 75px;
  color:#f8f0e3;

  padding: 10px;
  border-radius: 10px;
  box-shadow:1px 1px 1px #888888;
  float: right;
  margin-right: 10px;
}
.gitHubBtn:hover{
  background-color: rgba(135,80,161,0.7);
}
.logText{
  float: right;
  font-size: 1.7em;
  margin-top: 20px;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 2px rgba(0,0,0,0.8);
}