/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles!
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*--------------END RESET---------------*/
/*--------------END RESET---------------*/
/*--------------END RESET---------------*/
/*--------------END RESET---------------*/




/*George's Color Schema*/
/*https://s-media-cache-ak0.pinimg.com/564x/30/00/a0/3000a0831d33fb624691b50b7c6b4dc0.jpg*/





/*@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

@font-face {
  font-family: 'gitHub';
  src:url(asset-path('COLLEGIA.ttf'));
}

$purple: rgb(128,0,128);
body{
 /* background:url(starry-night-sky.jpg);*/
  color:#7d8485;
  height:1000px;
  font-family: 'Roboto Condensed', sans-serif;
}

a{
  text-decoration: none;
  color:#7d8485;
}
/*---------NAV BAR START-------*/
nav.xheader {
  background-color: rgba(0,0,0,0.0);
  height:60px;
}

nav.xheader li{
  float:right;
  padding:15px;
  padding-top: 20px;
  padding-bottom:22px;
}

nav.xheader  li:hover{
  background-color: rgba(0,0,0,0.2);
  border-bottom: $purple solid 2px;
}

nav.xheader  li.gitLi{
  padding-top: 15px;
  padding-bottom:18px;
  margin-right:15px;
}

.fixSafariOverflow{
  overflow-x:hidden;
  max-width: 100%;
}

.tester{
 /*XXXXXXXXXXX*/
}

.gitHubLogo{
  background:url(gitHubLogo2017.png);
  background-size: cover;
  width:25px;
  height:25px;
  float:left;
  /*margin-top: 0px;*/
}

.logText{
  float: left;
  font-weight: 600;
  margin-top:5px;
}
/*---------NAV BAR END-------*/

/*----------LeftPage START----------*/

.leftPage .backGroundFadeLeft{
/*background-color: rgba(255,255,255,0.9);*/
height:500px;
}
.views.scoreboard.gh_user_data h1{
  color:white;
  font-size: 2.7em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
  margin-top:20px;
 /* text-shadow:1px 1px #888888;*/
}
.views.scoreboard.gh_user_data .gitInfo{
  /*border:solid black 1px;*/
  margin-right:3%;
  margin-left:3%;
  padding:10px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  /*border:solid black 1px;*/
  font-size: 2em;
  font-weight: 300;
}
.gitInfo li{
  color:white;
}
/*.gitInfo*/
.views.users.index{
  /*width:86%;*/
  margin-right:2%;
  margin-left:2%;
  /*border:solid black 1px;*/
  padding: 10px;

  /*margin-top: 20px;*/
}

img.userPic{
  border-radius: 50px;
  height:100px;
  width:100px;
  border: 1px solid $purple;
  box-shadow: 2px 2px 5px  rgba(0,0,0,0.8);
  display: block;
  margin: 0 auto;
}
/*----------LeftPage END----------*/
/*---------Home Loged In---------*/
/*views/scoreboards/show*/
.views.scoreboard.show{
  color:white;
  /*width:86%;*/
  margin-right:2%;
  margin-left:2%;
 /* border:solid black 1px;*/
  padding:10px;
}
.views.scoreboard.show h1{
  font-size: 2.7em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
  margin-top:20px;
}
.Breakline{
  background-color: $purple;
  height:2px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 10px;
}
.views.scoreboard.show .dayPoints{
  margin-right:3%;
  margin-left:3%;
  padding:10px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  /*border:solid black 1px;*/
  font-size: 2em;
  font-weight: 300;
}
.views.scoreboard.show .dayPoints li{
  margin-bottom: 10px;
}
.dayPoints span{
  font-weight: 400;
}
/*views/scorboards/scoreboard_challenges*/

.views.scorboards.scoreboard_challenges{
  /*width:86%;*/
  color:white;
  margin-right:3%;
  margin-left:3%;
  /*border:solid black 1px;*/
  padding:10px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
}
/*---------Home Loged In END---------*/
.home{
  background: url(homeBgPlaceHolder.jpg);
  background-size: cover;
  height: 500px;
}
.beforeSwipeLeft{
  float:left;
  background: url(homeBgPlaceHolder.jpg);
  background-size: cover;
  height: 500px;
  /*background-color: rgba(255,255,255,0.5);*/
  width:100%;
  /*margin-top: 10px;*/
  margin-left: -100%;
  transition: margin-left 0.5s;
  -webkit-transition: margin-left 0.5s;
}

.beforeSwipeLeft p, .beforeSwipeRight p{
  color:white;
}

.leftPage{
  display: block;
  margin-left: 0%;
}

.home{
  float:none;
  transition: margin-left 0.5s;
  -webkit-transition: margin-left 0.5s;
    transition: margin-right 0.5s;
  -webkit-transition: margin-right 0.5s;
}

.afterSwipeLeftHome{
  display:none;
  margin-right: -100%;
  float:right;
}

.afterSwipeRightHome{
  display:none;
  margin-left:-100%;
  float:left;
}

.beforeSwipeRight{
  color:white;
  float:right;
  /*background-color: rgba(0,0,0,0.5);*/
  background: url(homeBgPlaceHolder.jpg);
  background-size: cover;
  height: 500px;
  width:100%;
  /*margin-left: 5%;*/
  height:1000px;
  /*margin-top: 10px;*/
  margin-right: -100%;
  transition: margin-right 0.5s;
  -webkit-transition: margin-right 0.5s;
}

.rightPage{
  display: block;
  margin-right: 0%;
}