/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  user-select: none;
  -moz-user-select: none;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles!
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*--------------END RESET---------------*/
/*--------------END RESET---------------*/
/*--------------END RESET---------------*/
/*--------------END RESET---------------*/




/*George's Color Schema*/
/*https://s-media-cache-ak0.pinimg.com/564x/30/00/a0/3000a0831d33fb624691b50b7c6b4dc0.jpg*/





/*@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

@font-face {
  font-family: 'gitHub';
  src:url(asset-path('COLLEGIA.ttf'));
}

$purple: rgb(128,0,128);
body{
 /* background:url(starry-night-sky.jpg);*/
  color:#7d8485;
  /*height:1000px;*/
  font-family: 'Roboto Condensed', sans-serif;
}

.fixSafariOverflow{
  background-color: #3b3251;
}


a{
  text-decoration: none;
  color:#7d8485;
}
/*---------NAV BAR START-------*/
nav.xheader {
  background-color: rgba(255,255,255,1);
  height:60px;
}

nav.xheader li{
  float:right;
  padding:15px;
  padding-top: 20px;
  padding-bottom:22px;
}

nav.xheader  li:hover{
  background-color: rgba(0,0,0,0.2);
  border-bottom: $purple solid 2px;
}

nav.xheader  li.gitLi{
  padding-top: 15px;
  padding-bottom:18px;
  margin-right:15px;
}

.fixSafariOverflow{
  overflow-x:hidden;
  max-width: 100%;
}

.tester{
 /*XXXXXXXXXXX*/
}

.gitHubLogo{
  background:url(gitHubLogo2017.png);
  background-size: cover;
  width:25px;
  height:25px;
  float:left;
  /*margin-top: 0px;*/
}

.logText{
  float: left;
  font-weight: 600;
  margin-top:5px;
}
/*---------NAV BAR END-------*/


/*----------LeftPage START----------*/

.leftPage .backGroundFadeLeft{
/*background-color: rgba(255,255,255,0.9);*/
/*height:500px;*/
}
.views.scoreboard.gh_user_data h1{
  color:white;
  font-size: 2.7em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
  margin-top:20px;
 /* text-shadow:1px 1px #888888;*/
}
.views.scoreboard.gh_user_data .gitInfo{
  /*border:solid black 1px;*/
  margin-right:3%;
  margin-left:3%;
  padding:10px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  /*border:solid black 1px;*/
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 50px;
}
.gitInfo li{
  color:white;
}
/*.gitInfo*/
.views.users.index{
  /*width:86%;*/
  margin-right:2%;
  margin-left:2%;
  /*border:solid black 1px;*/
  color:white;
  padding: 10px;

  /*margin-top: 20px;*/
}
.views.users.index h3{
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 15px;
}

.views.users.index .scoreInfo{
  /*border:2px solid red;*/
  margin-right: 6%;
  margin-right: 6%;
  padding:10px;
  padding-left: 20px;
}
.views.users.index .scoreInfo p{
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 10px;
}

img.userPic{
  border-radius: 50px;
  height:100px;
  width:100px;
  border: 1px solid $purple;
  box-shadow: 2px 2px 5px  rgba(0,0,0,0.8);
  display: block;
  margin: 0 auto;
}

.chart1{
  /*margin-top: -150px;
  float:right;*/
  margin-bottom: 60px;

}
.chart1 canvas{
  width:300px;
  background-color: rgba(255,255,255,0.1);
  padding:15px;
  margin-bottom: 20px;
  border-radius: 10px;
  color:red;

}
@media only screen and (min-width: 820px) {
    .chart1 {
      margin-top: -160px;
      float:right;
    }
}



.eeButtons input{
  width:80%;
  margin-right: 10%;
  margin-left: 10%;
  height:50px;

}
.eeButtons input[type=submit]{
 /* height: 50px;
  font-size: 2em;*/
}
/*input[type=submit].ee-btns{
color: red;
}*/
.ee-btns input[type=submit]{
  /*color:red;*/
  padding:10px;
  color:white;
  background-color: rgba(255,255,255,0.1);
  height: 50px;
  font-size: 1.7em !important;
  border:none;
  margin-bottom:50px !important;
  font-weight: 300;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
  border:1px solid $purple;

}

.ee-btns input[type=submit]:hover{
  background-color: rgba(255,255,255,0.3);
}

/*form#edit_scoreboard_21.ee-btns{
  height:50px;
  font-size: 2em;
}*/

/*----------LeftPage END----------*/


/*-----------Right Page---------- */

.allNotes{
  /*border:red solid 2px;*/
  margin-right:3%;
  margin-left:3%;
  font-weight: 300;
  /*font-size: 2em;*/
}
.allNotes h1{
  font-size: 2.7em;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.allNotes .notes-container{
  font-size: 1.5em;
  /*border:1px solid red;*/
  padding:10px;
  margin-right: 2%;
  margin-left: 2%;
  background-color:rgba(255,255,255,0.3);
  border-radius: 10px;
}

.notes-container input[type=text]{
  background-color: rgba(255,255,255,0.2);
  color:white;
  border:none;
  box-shadow: 0px 0px 1px $purple;
  border-radius: 2px;
}

.notes-container input[type=submit]{
  /*outline: none;*/
  color:white;
  border:$purple 1px solid;
  background-color: rgba(128,0,128,1);
  border-radius: 5px;
  font-size: 0.7em;

  /*box-shadow: 0px 0px 10px $purple;*/
}
.notes-container input[type=submit]:hover{
  background-color: rgba(128,0,128,0.3);
}
.notes-container input[type=text]:focus{
  outline: none;
  border:$purple;
  box-shadow: 0px 0px 10px $purple;

}

textarea#note_body{
  margin-top: 10px;
  background-color: rgba(255,255,255,0.2);
  color:white;
  border:none;
  box-shadow: 0px 0px 1px $purple;
  border-radius: 2px;
  width:80%;
  height:100px;
}
textarea#note_body:focus{
  outline: none;
  border:$purple;
  box-shadow: 0px 0px 10px $purple;
}


.notesSubjectFeild{
  margin-bottom: 20px;
}

.downLoadNotes{
text-align: center;
/*background-color: rgba(128,0,128,0.7);*/
background-color: $purple;
margin-right: 10%;
margin-left: 10%;
font-size: 1.5em;
border:1px solid $purple;
border-radius: 5px;
margin-top: 15px;
margin-bottom: 30px;

}
.downLoadNotes:hover{
  background-color: rgba(128,0,128,0.3)

}

.downLoadNotes a{
  text-align: center;
  color: white;
}

/*-----------Right Page END---------- */

/*---------Home Loged In---------*/
/*views/scoreboards/show*/
.views.scoreboard.show{
  color:white;
  /*width:86%;*/
  margin-right:2%;
  margin-left:2%;
 /* border:solid black 1px;*/
  padding:10px;
}
.views.scoreboard.show h1{
  font-size: 2.7em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
  margin-top:20px;
}
.Breakline{
  background-color: $purple;
  height:2px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 10px;
}
.views.scoreboard.show .dayPoints{
  margin-right:3%;
  margin-left:3%;
  padding:10px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  /*border:solid black 1px;*/
  font-size: 2em;
  font-weight: 300;
}
.views.scoreboard.show .dayPoints li{
  margin-bottom: 10px;
}
.dayPoints span{
  font-weight: 400;
}
/*views/scorboards/scoreboard_challenges*/

.views.scorboards.scoreboard_challenges{
  /*width:86%;*/
  color:white;
  margin-right:6%;
  margin-left:6%;
  /*border:solid black 1px;*/
  padding:10px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  /*border:2px solid red;*/
}


._scoreboard_challenges h1{
  color:white;
  font-weight: 300;
  font-size: 2.7em;
  text-align: center;
  margin-bottom: 10px;
}

._scoreboard_challenges h2{
  font-weight: 300;
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 15px;
}

._scoreboard_challenges form{
  /*border:2px solid green;*/
  padding:10px;
  padding-left: 20px;
  font-size: 1.5em;

}

._scoreboard_challenges input.release-checkbox{
  background-color:red;
  border:none;
  border-radius: 50%;
  height:25px;
  width:25px;
  box-shadow: 2px 2px 0px black;
}


.scoreboard_challenges li{
  margin-bottom:10px;

}
/*---------Home Loged In END---------*/













/*-------Home start New Game-------*/
.startGamehome{
  height:1000px;
  background: url(xspace.gif);
  background-size: cover;
 /* border:red 1px solid;*/
  color: white;
  font-weight: 300;
  margin-right: 3%;
  margin-left: 3%;
  padding-top: 20px;
    h1{
      font-size: 2.8em;
      text-align: center;
      margin-bottom: 15px;
    }

}
.newGameForm{
/*border: red 1px solid;*/
margin: 0 auto;
border-radius: 10px;
box-shadow: 1px 1px 1px black;
/*margin-right:10%;
margin-left: 10%;*/
width:400px ;
padding:10px;
padding-top: 20px;

background-color: rgba(255,255,255,0.1);
  p{
    margin-bottom: 20px;
    font-size: 2.5em;
    padding-left: 20px;
    /*text-align: center;*/
  }
 /* select[name^=scoreboard[cohort]]{
    color:red;
  }*/

  select{
    display:block;
    background-color:rgba(255,255,255,0.9);
    border: $purple 1px solid;
    /*width:200px;*/
    font-size: 1em;
    color: $purple;
    text-shadow:0px 1px 0px black;

  }

  input[type="submit"]{
     -webkit-appearance: button;
   /* display: block;
    width: 200px;
    height:200px;*/
    margin-top: 18px;
    width:100%;
    color:white;
    font-size: 1em;
    text-shadow:1px 1px 1px black;
    box-shadow: 2px 2px 2px black;
    margin-left: -10px;
    /*background-color:rgba(255,255,255,0.9);*/
    background-color: $purple;
    border:1px solid $purple;
    border-radius: 10px;
  }

  input[type="submit"]:hover{
    background-color:rgba(128,0,128,0.5);
  }
 /* input[name=commit]{
    width: 200px;
    height:200px;
  }*/


}
/*-------Home start New Game END-------*/
















/*----------POP-UP PAGE----------*/
.totalDayPoints{
 /* background: url(xspace.gif);
  background-size: cover;*/
  background-color: rgba(255,255,255,0.3);
  border:red 2px solid;
  margin-left: 2%;
  margin-right: 2%;
  padding:10px;
  color:white;
  font-weight: 300;
  padding-top:20px;
    h1{
      font-size: 2.7em;
      text-align: center;
      margin-bottom: 15px;
    }

    .Breakline{
      margin-bottom:15px;
    }

    ul{
      border:red;
      margin-right: 2%;
      margin-left: 2%;
      border: red 1px solid;

    }

    li{
      font-size: 1.3em;
      margin-bottom: 10px;
    }
    canvas{
      background-color: rgba(255,255,255,0.2);
      border-radius: 10px;
      border:$purple;
/*      width:80%;
      margin-left:10%;
      margin-right: 10%;*/
    }
}
.totalDayPoints .chart{
  border:1px green solid;
  margin-bottom: 100px;
}

/*.chart1 canvas{*/
.totalDayPoints img{
    border-radius: 50px;
    height: 100px;
    width: 100px;
    border: 1px solid purple;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    display: block;
    margin: 0 auto;
}

/*----------POP-UP PAGE END----------*/

.home{
  background: url(xspace.gif);
  /*background-size: cover;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    /*background: no-repeat;*/
/*    height: 100%;
    width:100;*/
  /*height: 500px;*/
}
// .beforeSwipeLeft{
//   float:left;
//   background: url(xspace.gif);
//   background-size: cover;
//   /*height: 500px;*/
//   /*background-color: rgba(255,255,255,0.5);*/
//   width:100%;
//   /*margin-top: 10px;*/
//   margin-left: -100%;
//   transition: margin-left 0.5s;
//   -webkit-transition: margin-left 0.5s;
// }

// .beforeSwipeLeft p, .beforeSwipeRight p{
//   color:white;
// }

// .leftPage{
//   display: block;
//   margin-left: 0%;
// }
.beforeSwipeLeft{
  float:left;
  background: url(xspace.gif);
  background-size: cover;
  /*height:2000px;*/
  /*height: 500px;*/
  /*background-color: rgba(255,255,255,0.5);*/
  width:100%;
  /*margin-top: 10px;*/
  margin-left: -100%;
  transition: margin-left 0.5s;
  -webkit-transition: margin-left 0.5s;
}

.beforeSwipeLeft p, .beforeSwipeRight p{
  color:white;
}

.leftPage{
  display: block;
  margin-left: 0%;
}

.home{
  float:none;
  display: block;
  // transition: margin-left 0.5s;
  // -webkit-transition: margin-left 0.5s;
  //   transition: margin-right 0.5s;
  // -webkit-transition: margin-right 0.5s;
}

// .afterSwipeLeftHome{
//   display:none;
//   margin-right: -100%;
//   float:right;
// }
//
// .afterSwipeRightHome{
//   display:none;
//   margin-left:-100%;
//   float:left;
// }

// .beforeSwipeRight{
//   color:white;
//   float:right;
//   /*background-color: rgba(0,0,0,0.5);*/
//   background: url(xspace.gif);
//   background-size: cover;
//   /*height: 500px;*/
//   width:100%;
//   /*margin-left: 5%;*/
//   height:1000px;
//   /*margin-top: 10px;*/
//   margin-right: -100%;
//   transition: margin-right 0.5s;
//   -webkit-transition: margin-right 0.5s;
// }

// .rightPage{
//   display: block;
//   margin-right: 0%;
// }

.hidden{
  display: none;
  background: url(xspace.gif);
  background-size: cover;
  /*height:2000px;*/
  /*height: 500px;*/
  width:100%;
  /*margin-left: 5%;*/
  /*height:1000px;*/
  /*margin-top: 10px;*/
  margin-right: -100%;
  transition: margin-right 0.5s;
  -webkit-transition: margin-right 0.5s;
}
