<nav class="xheader">
	<% if logged_in? %>
		<%#= link_to "Logout", :logout %>
    <%= link_to :logout, class: "gitHubBtn" do %>
        <div class="gitHubLogo"></div>
        <div class="logText">Logout of GitHub</div>
    <% end %>


 	 	<p> Hey, <%= current_user.username %>!</p><br>


		<p> <%= @github_response %></p><br><br>

		<%# @github_response.each do |x|  %>
			<%# x.each do |d|  %>
			<%#= p x %>
			<%# end %>
		<%# end %>

 	<%else%>
		<%#= link_to "", :github_auth, class: "gitHubLogIn" %>

    <%= link_to :github_auth, class: "gitHubBtn" do %>
        <div class="gitHubLogo"></div>
        <div class="logText">Login with GitHub</div>
    <% end %>

	<% end %>
</nav>
